/* This is for all the pages, the header, body, and footer */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: georgia;
}
header {
    flex: 0 80px;
    background-image: url("DailyDose.jpg");
    background-position: center;
    background-repeat: 0;
    background-size: 100vw;
    text-align: center;
    color: white;
    -webkit-text-stroke: black 1px;
    margin: 0;
    font-size: auto;    
    border: solid black;
    border-width: 0 0 3px 0;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
}
main > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h2 {
    flex: 0 30px;
    border: solid;
    border-width: 0 0 1px 0;
    text-align: center;
    background-color: rgb(177, 228, 245);
    margin: 0;
}
button {
    cursor: pointer;
}
/* For the footer */
footer {
    flex: 0 20px;
    background-color: rgba(8, 5, 62, 0.943);
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding: 3px;
    border: solid black;
    border-width: 3px 0 0 0;
}
footer a {
    flex: 1;
    text-align: end;
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(153, 34, 153);
}
footer p {
    flex: 1;
    margin: 0;
}
/* For the navigation bar */
nav {
    flex: 0 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid;
    border-width: 0 0 2px 0;
    padding: 5px;
    background-color: rgb(147, 204, 223);
}
nav a {
    flex: 1;
    color: darkblue;
}
nav a:hover {
    background-color: rgb(190, 233, 241);
    padding: 0;
    margin: 0;
    color: black;
}
@media (max-height: 300px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

/* This is for the login page */
#loginbox{
    border: solid 2px;
    border-radius: 8px;
    margin: auto;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 300px;
}
#topbuttons {
    flex: 0;
}
#submit {
    background-color: blue;
    color: white;
    padding: 6px;
    border-radius: 6px;
    transform: translate(0%, -70%);
}
#submit:hover {
    background-color: rgb(153, 34, 153);
}
.login {
    flex: 1;
    padding: 6px
}
#checkbox {
    color: green;
}
#filler {
    margin: 0;
    font-size: 8px;
    display: grid;
    flex-direction: column;
    text-align: center;
}
.require {
    flex: 1;
    display: flex;
    margin: auto;
    text-align: center;
}
#passwordcheck, #usernamecheck {
    padding: 0 0 0 5px;
}
#login-signup {
    border: solid 2px;
    font-weight: bold; 
    border-radius: 6px;
    padding: 5px 25px;
    margin: 0 2vw;
    background-color: rgb(230, 224, 224);
    transform: translate(0%, 80%);
}
#login-signup:hover {
    background-color: lightblue;
}
@media (max-width: 500px) {
    #login-signup {
        font-size: 12px;
        padding: 5px 15px;
    }
}

/* This is for the feed page */
#feedAndQuote {
    display: flex;
    flex-direction: column;
}
#feedfield {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#post {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 5px 10px;
    border-radius: 7px;
}
#topMatter {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 7px 7px 0 0;
    border-width: 0 0 2px 0;
    background-color: lightblue;
}
#user {
    flex: 0 25vw;
    font-size: 100%;
    font-weight: bold;
    text-align: start;
    margin: 5px 10px;
    height: 20px;
    border: solid #000000 2px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(243, 228, 228);
    width: 50px;
    padding: 0 5px;
    max-width: 150px;
}
#user:hover {
    color: darkblue;
    border-color: darkblue;
    background-color: white;
    cursor: pointer;
}
#buttons {
    flex: 5;
    text-align: end;
}
#like, #comment {
    background-color: purple;
    color: white;
    border-radius: 7px;
    width: 25%;
    font-weight: bold;
    padding: 0;
    margin: 7px 20px;
    height: 20px;
    max-width: 100px;
    min-width: 70px;
}
#like:hover, #comment:hover {
    background-color: rgb(41, 195, 246);
}
#timestamp {
    flex: 1;
    margin: 0;
    font-size: 10px;
    align-self: center;
}
#bottomMatter {
    display: flex;
    flex-direction: column;
}
#thoughts {
    flex: 4;
    text-align: left;
    margin: 4px 2px;
}
#title {
    flex: 1;
    text-align: start;
    margin: 0;
    padding: 0 0 0 10px;
    background-color: lightgrey;
    border: solid;
    border-width: 0 0 1px 0;
}
#quoteAndNew {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}
#newpost {
    flex: 2;
    display: flex;
    flex-direction: column;
}
#newPostHead {
    flex: 0 8px;
    margin: 10px 5px 5px 10px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;
}
#postIt {
    flex: 0 20px;
    margin: 5px 5px 10px 10px;
    background-color: blue;
    color: white;
    padding: 2px;
    border-radius: 6px;
    width: 20%;
    align-self: center;
    font-weight: bold;
}
#postIt:hover {
    background-color: rgb(153, 34, 153)
}
#text {
    flex: 0 20px;
    margin: 0px 5px 5px 10px;
    border: solid;
    font-weight: bold;
}
#textarea {
    flex: 3;
    margin: 0px 5px 5px 10px;
    border: solid;
    resize: none;
}
#quote {
    flex: 1;
    border: solid darkblue;
    background-color: rgb(234, 248, 253);
    border-radius: 7px;
    margin: 10px 10px 10px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
}
#quoteTitle {
    flex: 1;
    margin: 5px;
}
#thequote {
    flex: 3;
    margin: 5px;
}
#author {
    flex: 1;
    margin: 5px;
}
#quoteReference {
    margin: 0;
    flex: 1;
    color: rgb(9, 9, 194);
    text-decoration: none;
    padding: 10px;
}
#quoteReference:hover {
    color: rgb(153, 34, 153);
}
@media (max-width: 700px) {
    #quoteAndNew {
        display: flex;
        flex-direction: column;
    }
    #like, #comment {
        margin: 7px 10px;
    }
}
@media (max-width: 500px) {
    #user {
        font-size: 12px;
        justify-items: center;
    }
}

/* This is the formatting for the Chat page */
#chatSpace {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}
#chats {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 75vh;
    border: solid;
    border-width: 1px 1.5px;
    margin: 0;
}
#chatHead {
    flex: 0 20px;
    margin: 0;
    background-color: darkblue;
    color: white;
    padding: 5px 0;
    border-bottom: solid  black 2px;
}
#container {
    flex: 1;
    height: 50vh;
    overflow-y: scroll;
}
#userChatList {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
#chatGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 1px;
    cursor: pointer;
}
.chatuser {
    flex: 1;
    padding: 5px 0 5px 10px;
    margin: 0;
    text-align: start;
}
#chatGroup:hover {
    background-color: lightblue;
}
#date {
    flex: 1;
    text-align: end;
    padding: 5px 5px 5px 0;
    margin: 0;
    font-size: 10px;
}
#startNew {
    flex: 0 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    border: solid;
    border-width: 1.5px 0 0 0;
    padding: 10px 20px 10px 20px;
    background-color: lightgrey;
}
#start {
    flex: 1;
    background-color: blue;
    color: white;
    border-radius: 7px;
    width: 30%;
    padding: 2px;
    margin: 5px 0 0 0;
    align-self: center;
}
#start:hover {
    background-color: rgb(153, 34, 153);
}
#startLabel {
    flex: 1;
    font-size: 15px;
    margin: 0;
}
#userStart {
    flex: 1;
    border: solid;
    margin: 5px 0 5px 0;
}
#chat {
    flex: 3;
    display: flex;
    flex-direction: column;
}
#messageSpace {
    flex: 3;
    padding: 0;
}
#messageList {
    overflow-y: scroll;
    height: 55vh;
    padding: 0;
    margin: 5px 0 0 0;
}
div > ::-webkit-scrollbar, aside > ::-webkit-scrollbar {
    width: 5px;
}
div > ::-webkit-scrollbar-track, aside > ::-webkit-scrollbar-track {
    background-color: white;
}
div > ::-webkit-scrollbar-thumb, aside > ::-webkit-scrollbar-thumb {
    background: #b6b3b3;
    border-radius: 20px;
}
div > ::-webkit-scrollbar-thumb:hover, aside > ::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}
#messageList > li {
    list-style: none;
}
.wholeMessage {
    margin: 10px 10px;
}
.message {
    border: solid 1px;
    border-radius: 20px;
    font-size: 13px;
}
.time {
    font-size: 8px;
    padding: 2px;
    margin: 0;
}
#theirTime {
    padding-left: 10px;
}
#myTime {
    padding-right: 10px;
}
#theirs {
    background-color: rgb(227, 227, 250);
    padding: 5px 10px;
    margin: 0;
}
#theirMessage {
    text-align: start;
    width: auto;
    max-width: 60%;
    float: left;
}
#mine {
    background-color: rgb(250, 228, 250);
    padding: 5px 10px;
    margin: 0;
    text-align: start;
} 
#myMessage {
    text-align: end;
    width: auto;
    max-width: 60%;
    float: right;
}
#userChatter {
    flex: 0 12px;
    background-color: rgb(236, 218, 218);
    text-align: center;
    margin: auto;
    border: solid;
    border-width: 0 1.5px 1.5px;
    border-radius: 0 0 7px 7px;
    padding: 5px 10px;
    font-size: 12px;

}
#newMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 0 0 1px 0;
    padding: 10px 10px 5px;
}
#messageArea {
    flex: 1 29px;
    border: solid;
    resize: none;
}
#send {
    flex: 1 25px;
    background-color: blue;
    color: white;
    border-radius: 7px;
    width: 60px;
    padding: 2px;
    margin: 5px 0 0 0;
    height: 10%;
    align-self: center;
}
#send:hover {
    background-color: rgb(153, 34, 153);
}

@media (max-width: 600px) {
    #chat {
        flex: 4;
    }
    #chats {
        width: 150px;
    }
    #start {
        width: 50px;
    }
    #userStart {
        width: 100px;
        height: 15px;
        font-size: 10px;
    }
    #date {
        display: none;
    }
}

/* This is the styling for My Posts page */
#postTable {
    display: grid;
    margin: 0px;
    font-size: 12px;
    grid-gap: 0;
}
.date {
    width: 20vw;
}
.title {
    width: 50vw;
    font-weight: bold;
}
.likes {
    width: 15vw;
}
.comments {
    width: 15vw;
}
#head {
    background-color: lightgrey;
    height: 2vw;
    font-size: 15px;
}
.dataRow:nth-child(odd) {
    background-color: rgb(224, 243, 249);
}
.dataRow {
    border-top: 1px solid;
    height: 5vh;
}