/* This is for all the pages, the header, body, and footer */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: georgia;
}
header {
    flex: 0 80px;
    background-image: url("DailyDose.jpg");
    background-position: center;
    background-repeat: 0;
    background-size: 100vw;
    text-align: center;
    color: white;
    -webkit-text-stroke: black 1px;
    margin: 0;
    font-size: auto;    
    border: solid black;
    border-width: 0 0 3px 0;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
}
main > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h2 {
    flex: 0 30px;
    border: solid;
    border-width: 0 0 1px 0;
    text-align: center;
    background-color: rgb(177, 228, 245);
    margin: 0;
}
/* For the footer */
footer {
    flex: 0 20px;
    background-color: rgba(8, 5, 62, 0.943);
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding: 3px;
    border: solid black;
    border-width: 3px 0 0 0;
}
footer a {
    flex: 1;
    text-align: end;
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(153, 34, 153);
}
footer p {
    flex: 1;
    margin: 0;
}
/* For the navigation bar */
nav {
    flex: 0 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid;
    border-width: 0 0 2px 0;
    padding: 5px;
    background-color: rgb(147, 204, 223);
}
nav a {
    flex: 1;
    color: darkblue;
}
nav a:hover {
    background-color: rgb(190, 233, 241);
    padding: 0;
    margin: 0;
    color: black;
}
@media (max-height: 300px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

/* This is for the login page */
#loginbox{
    border: solid 2px;
    border-radius: 8px;
    margin: 0 25vw;
    padding: 20px 0 20px 0;
    text-align: center;
}
#topbuttons {
    flex: 0;
}
#submit {
    background-color: blue;
    color: white;
    padding: 6px;
    border-radius: 6px;
    transform: translate(0%, -70%);
}
#submit:hover {
    background-color: rgb(153, 34, 153);
}
.login {
    flex: 1;
    padding: 6px
}
#checkbox {
    color: green;
}
#filler {
    margin: 0;
    font-size: 8px;
    display: grid;
    flex-direction: column;
    text-align: center;
}
.require {
    flex: 1;
    display: flex;
    margin: auto;
    text-align: center;
}
#passwordcheck, #usernamecheck {
    padding: 0 0 0 5px;
}
#login-signup {
    border: solid 2px;
    font-weight: bold; 
    border-radius: 6px;
    padding: 5px 25px;
    margin: 0 2vw;
    background-color: rgb(230, 224, 224);
    transform: translate(0%, 80%);
}
#login-signup:hover {
    background-color: lightblue;
}
@media (max-width: 500px) {
    #login-signup {
        font-size: 12px;
        padding: 5px 15px;
    }
}

/* This is for the feed page */
#feedAndQuote {
    display: flex;
    flex-direction: column;
}
#feedfield {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#post {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#topMatter {
    flex: 1;
    display: flex;
    flex-direction: row;
}
#user {
    flex: 0 20vw;
    font-weight: bold;
    text-align: start;
    margin: 5px 5px;
    height: 20px;
    border: solid #000000 2px;
    text-align: center;
    border-radius: 30px;
    background-color: lightgrey;
    width: 50px;
    padding: 0 5px;
}
#buttons {
    flex: 1;
    text-align: end;
}
#like, #comment {
    flex: 1 100px;
    background-color: purple;
    color: white;
    border-radius: 7px;
    width: 15%;
    font-weight: bold;
    padding: 0;
    margin: 5px 20px;
    height: 20px;
}
#like:hover, #comment:hover {
    background-color: rgb(41, 195, 246);
}
#quoteAndNew {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}
#newpost {
    flex: 2;
    display: flex;
    flex-direction: column;
}
#newPostHead {
    flex: 0 8px;
    margin: 10px 5px 5px 10px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;
}
#postIt {
    flex: 0 20px;
    margin: 5px 5px 10px 10px;
    background-color: blue;
    color: white;
    padding: 2px;
    border-radius: 6px;
    width: 20%;
    align-self: center;
    font-weight: bold;
}
#postIt:hover {
    background-color: rgb(153, 34, 153)
}
#text {
    flex: 0 20px;
    margin: 0px 5px 5px 10px;
    border: solid;
    font-weight: bold;
}
#textarea {
    flex: 3;
    margin: 0px 5px 5px 10px;
    border: solid;
}
#quote {
    flex: 1;
    border: solid darkblue;
    background-color: rgb(234, 248, 253);
    border-radius: 7px;
    margin: 10px 10px 10px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
}
#quoteTitle {
    flex: 1;
    margin: 5px;
}
#thequote {
    flex: 3;
    margin: 5px;
}
#author {
    flex: 1;
    margin: 5px;
}
#quoteReference {
    margin: 0;
    flex: 1;
    color: rgb(9, 9, 194);
    text-decoration: none;
    padding: 10px;
}
#quoteReference:hover {
    color: rgb(153, 34, 153);
}
@media (max-width: 700px) {
    #quoteAndNew {
        display: flex;
        flex-direction: column;
    }
}

