/* This is the styling for My Posts page */
#postTable {
    display: grid;
    margin: 0px;
    font-size: 12px;
    grid-gap: 0;
}
.date {
    width: 20vw;
}
.title {
    width: 50vw;
    font-weight: bold;
}
.likes {
    width: 15vw;
}
.comments {
    width: 15vw;
}
#head {
    background-color: lightgrey;
    height: 2vw;
    font-size: 15px;
}
.dataRow:nth-child(odd) {
    background-color: rgb(224, 243, 249);
}
.dataRow {
    border-top: 1px solid;
    height: 5vh;
}