/* This is for the login page */
#mainHeader {
    flex: 0 30px;
    border: solid;
    border-width: 0 0 1.5px 0;
}
#loginbox{
    border: solid 1.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: auto;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 300px;
}
#topbuttons {
    flex: 0;
}
#error {
    flex: 0 15px;
    padding: 5px 0;
    color: red;
    font-size: 12px;
    font-weight: bold;
}
#submit {
    background-color: blue;
    color: white;
    padding: 4px 12px;
    border-radius: 6px;
    transform: translate(0%, -70%);
}
#submit:hover {
    background-color: rgb(153, 34, 153);
}
.login {
    flex: 1;
    padding: 6px;
}
#checkbox {
    color: green;
}
.filler {
    margin: 0;
    font-size: 8px;
    display: none;
    flex-direction: column;
    text-align: center;
}
.require {
    flex: 1;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 100px;
    margin: 0px;
    text-align: center;
}
#passwordcheck, #usernamecheck {
    padding: 0 0 0 5px;
}
#login, #signup {
    border: solid 1px;
    font-weight: bold; 
    border-radius: 6px;
    width: 100px;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: rgb(236, 233, 233);
    transform: translate(0%, 80%);
}
#login {
    border-width: 2px;
}
#login:hover, #signup:hover {
    background-color: lightblue;
}
.checkbox {
    color: red;
}
@media (max-width: 500px) {
    #login, #signup {
        font-size: 12px;
        padding: 5px 15px;
    }
}