/* This is the styling for My Posts page
#postTable {
    display: grid;
    margin: 0px;
    font-size: 12px;
    grid-gap: 0;
}
.date {
    width: 20vw;
}
.title {
    width: 50vw;
    font-weight: bold;
}
.likes {
    width: 15vw;
}
.comments {
    width: 15vw;
}
#head {
    background-color: lightgrey;
    height: 2vw;
    font-size: 15px;
}
.dataRow:nth-child(odd) {
    background-color: rgb(224, 243, 249);
}
.dataRow {
    border-top: 1px solid;
    height: 5vh;
} */
.empty {
    border: solid black 1px;
}
.postreveal {
    display: none;
}
.posttable {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#postheadTable {
    flex: 0 20px;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-radius: 7px 7px 0px 0px;
    background-color: lightgrey;
    font-weight: bold;    
}
#postheadTable > div {
    border: solid;
    border-width: 0 0 2px 0;
}
#postdate {
    flex: 0 100px;
}
#posttitle {
    flex: 1;
    font-weight: bold;
}
#postlike {
    flex: 0 70px;
}
.postRow {
    flex: 0 20px;
    display: flex;
    flex-direction: column;
    /* border: solid green 2px; */
}
.posthead {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.posthead:hover {
    background-color: rgb(226, 242, 248);
}
.postdate {
    flex: 0 100px;
    border: solid black 1px;
    padding: 2px;
}
.posttitle {
    flex: 3;
    font-weight: bold;
    border: solid black 1px;
    padding: 2px;
}
.postlike {
    flex: 0 70px;
    border: solid black 1px;
    padding: 2px;
}
.postcontent {
    display: none;
    height: auto;
    font-size: 0px;
    border: solid black 1px;
    text-align: start;
    background-color: rgb(236, 239, 251);
    padding: 5px;
}
.postreveal:not(:checked) + label > .postcontent {
    animation: close 0.3s;
    font-size: 0px;
    border: solid black 0px;
    padding: 0px;
}
.postreveal:checked + label > .postcontent {
    animation: open 0.3s;
    font-size: 15px;
    border: solid black 1px;
    padding: 5px;
}
@keyframes open {
    from {
        font-size: 0px;
        border: solid black 0px;
        padding: 0px;
    }
    to {
        font-size: 15px;
        border: solid black 1px;
        padding: 5px;
    }
}
@keyframes close {
    from {
        font-size: 15px;
        border: solid black 1px;
        padding: 5px;
    }
    60% {
        border: solid black 0px;
    }
    to {
        font-size: 0px;
        padding: 0px;
    }
}
@media (max-width: 600px) {
    .postdate {
        font-size: 12px;
    }
    #postdate {
        font-size: 15px;
    }
    .posttitle {
        font-size: 12px;
    }
    #posttitle {
         font-size: 15px;
    }
    .postlike {
        font-size: 12px;
    }
    #postlike {
        font-size: 15px;
    }
}