/* This is the styling for My Posts page
#postTable {
    display: grid;
    margin: 0px;
    font-size: 12px;
    grid-gap: 0;
}
.date {
    width: 20vw;
}
.title {
    width: 50vw;
    font-weight: bold;
}
.likes {
    width: 15vw;
}
.comments {
    width: 15vw;
}
#head {
    background-color: lightgrey;
    height: 2vw;
    font-size: 15px;
}
.dataRow:nth-child(odd) {
    background-color: rgb(224, 243, 249);
}
.dataRow {
    border-top: 1px solid;
    height: 5vh;
} */

.reveal {
    display: none;
}
.table {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#headTable {
    flex: 0 20px;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-radius: 7px 7px 0px 0px;
    background-color: lightgrey;
    font-weight: bold;    
}
#headTable > div {
    border: solid;
    border-width: 0 0 2px 0;
}
#date {
    flex: 0 100px;
}
#title {
    flex: 1;
    font-weight: bold;
}
#like {
    flex: 0 70px;
}
.post {
    flex: 0 20px;
    display: flex;
    flex-direction: column;
    /* border: solid green 2px; */
}
.head {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.head:hover {
    background-color: rgb(226, 242, 248);
}
.date {
    flex: 0 100px;
    border: solid black 1px;
    padding: 2px;
}
.title {
    flex: 3;
    font-weight: bold;
    border: solid black 1px;
    padding: 2px;
}
.like {
    flex: 0 70px;
    border: solid black 1px;
    padding: 2px;
}
.content {
    display: none;
    height: auto;
    font-size: 0px;
    border: solid black 1px;
    text-align: start;
    padding: 5px;
}
.reveal:not(:checked) + label > .content {
    animation: close 0.3s;
    font-size: 0px;
    border: solid black 0px;
    padding: 0px;
}
.reveal:checked + label > .content {
    animation: open 0.3s;
    font-size: 15px;
    border: solid black 1px;
    padding: 5px;
}
@keyframes open {
    from {
        font-size: 0px;
        border: solid black 0px;
        padding: 0px;
    }
    to {
        font-size: 15px;
        border: solid black 1px;
        padding: 5px;
    }
}
@keyframes close {
    from {
        font-size: 15px;
        border: solid black 1px;
        padding: 5px;
    }
    60% {
        border: solid black 0px;
    }
    to {
        font-size: 0px;
        padding: 0px;
    }
}
@media (max-width: 600px) {
    .date {
        font-size: 12px;
    }
    #date {
        font-size: 15px;
    }
    .title {
        font-size: 12px;
    }
    #title {
         font-size: 15px;
    }
    .like {
        font-size: 12px;
    }
    #like {
        font-size: 15px;
    }
}