body {
    margin: 0;
    padding: 0;
}
.app {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: georgia;
}
.top {
    flex: 0 80px;
    display: flex;
    flex-direction: column;
    background-image: url("../DailyDose.jpg");
    background-position: center;
    background-repeat: 0;
    background-size: 100vw;
    text-align: center;
    color: white;
}
.logo {
    margin: 20px;
    -webkit-text-stroke: black 1px;
    font-size: auto;    
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
}
main > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#topHeader {
    flex: 0 auto;
    height: auto;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 0 0 1.5px 0;
    background-color: rgb(177, 228, 245);
}
#userInfo {
    flex: 0 80px;
    height: auto;
    font-size: 15px;
    padding: 2px 10px;
    margin: 0;
    border: solid;
    border-width: 0 0 0 1.5px;
}
#userInfo:hover {
    background-color: rgb(165, 213, 220);
    cursor: pointer;
}
h2 {
    flex: 1;
    text-align: center;
    background-color: rgb(177, 228, 245);
    margin: 0;
}
button {
    cursor: pointer;
}
/* For the footer */
.bottom {
    flex: 0 20px;
    background-color: rgba(8, 5, 62, 0.943);
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding: 3px;
    border: solid black;
    border-width: 3px 0 0 0;
}
footer a {
    flex: 1;
    text-align: end;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
footer a:hover {
    color: rgb(153, 34, 153);
}
footer p {
    padding-left: 20px;
    flex: 1;
    margin: 0;
}
/* For the navigation bar */
.links {
    flex: 0 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid;
    margin: 0;
    border-width: 0 0 2px 0;
    padding: 0px;
    background-color: rgb(147, 204, 223);
    border: solid black;
    border-width: 3px 0 2px 0;
}
.links a {
    flex: 1;
    color: darkblue;
    text-decoration: none;
}
.links a:hover {
    background-color: rgb(190, 233, 241);
    padding: 0;
    margin: 0;
    color: black;
}
#bars {
    flex: 0 40px;
    padding: 2px 0 5px 0px;
    border: solid;
    border-width: 0 1.5px 0 0;
    text-decoration: none;
}
#bars:hover {
    background-color: rgb(165, 213, 220);
    cursor: pointer;
}
#chatNav {
    border: solid black;
    border-width: 0 2px 0 2px;
}
@media (max-height: 300px) {
    .logo {
        display: none;
    }
    .top {
        background-image: none;
    }
    .bottom {
        display: none;
    }
}